{% load static %}
<script>
    $(document).ready(function(){
   
       $('#link').on('change', function () {
            var url = $(this).val(); 
            if (url) { 
                /*window.open(url, '_blank');*/
                window.open(url, '_self');
             }
             return false;
           });
        });
   </script>
<footer class="rodape">
    <div class="rodape__icones">
        <a href="https://www.embrapa.br" target=”_blank” >
            <img src="{% static '/assets/ícones/1x/instagram.png' %}" alt="ícone instagram">
        </a>
    </div>
    <p class="rodape__texto">Desenvolvido por </p>
</footer>